#base_name {
    color: darkred;
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#global_navi ul{
    list-style: none;
}

#name_huri{
    margin-top: 4px;
}

#base_info{
    font-size: 20px;
}

.img{
    background-color: purple;
    text-align: center;
}

.text{
    background-color: plum;
    height: 300px;
}

/* .namename{
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 7px;
    text-align: center;
} */